.nosotros__btn{
	padding: .7rem 5rem;
	font-family: $raleway;
	font-size: $large;
	color:$granite-gray;
	font-weight: $bold;
	border-radius: 50px;
	margin-bottom: 2rem;
	border: 1px solid $granite-gray;
}